
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:wght@400;700&display=swap');




/* Reset */
* {  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* Para que el scrolleo en la página sea suave */
  scroll-behavior:smooth;
  
}

body {
  font-family: lato, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  background-color: #fbfbfb;
  color: #0f0f0f;
  padding-bottom: 0;
  margin: 0;
    
}

h1 {
  font-size: 48px;
    text-align: left;
}

h2 {
  font-size: 32px;
  text-align: center;
}

p {
  margin: 16px 0;
}

img {
  max-width: 100%;
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main {  
  max-width: 1200px;
  margin:auto;
}


.header { 
  background-color: #900C3F;
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.nav {
  display: flex;  
  justify-content: space-between;
  align-items: center;
  width: 100%; 

}

nav.nav {
  margin: 0;
  height: 90px;
}

.nav-link {
  text-decoration: none;
}

  /* Para quitar los puntos a los items <li> de la lista ul*/
ul.nav-logo {
  display: flex;
  align-items: center;
  list-style: none;
   
}

.nav-logo-item {
  max-width: 40px;
  width: 100%;  
}

.nav-menu {
  display: flex;
  justify-content: center;
  margin-right: 40px;
  list-style: none;
  
}

.nav-menu-item {
  font-size: 16px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}

.nav-menu-link {
  padding: 6px 10px;
  border-radius: 3px;
  color: white;
}

.nav-menu-link:hover,
.nav-menu-link_active {
  background-color: grey;
  transition: 0.3s;
}

.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 70px;
  cursor: pointer;
  display: none;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  min-height: 100vh;
  padding-top: 120px;
}

section#inicio {
  flex-direction: row;
  justify-content: space-around;
}

figure.presentacion-img {
  margin-bottom: 10px;
}

figure.presentacion-img img { /*para redondear la foto de presentación*/
  border-radius: 50%;
  max-width: 400px;

}

article.presentacion {
  width: 50%;
  text-align: left;
}

a.button {    /* OK boton descarga mi cv*/
  background-color: #C70039;
  color: #fbfbfb;
  padding: 12px 20px;
  border-radius: 50px;
  font-size: 20px;
  display: inline-block; 
  text-decoration: none; 
}

a.button:hover {
  background-color: #581845;
  transition: background-color o.3s;
} 

section#contacto{
  flex-direction: column;
  justify-content:space-between; 
  min-height: 50vh; 
}

article.contacto{
  width: 100%;
  text-align: center;
  background: #662635;
  color: #fbfbfb;

}

#contactame{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

figure.email{
  width: 1000px;
  max-width: 100px;
  max-height: 100px;
}

figure.github{
  width: 1000px;
  max-width: 100px;
  max-height: 100px;
}

figure.linkedin{
  width: 1000px;
  max-width: 100px;
  max-height: 100px;
}

footer{
  display: flex;  
  justify-content:space-around;
  align-items:center;
  width: 100%;
  /*min-width: 768px; cambiar este min para el query mobile*/
  height: 90px;  
  background: #900C3F;
  color: #fbfbfb;

}

@media (max-width:768px) {

  .header { 
    background-color: #030837;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }

  h1 {
    font-size: 36px;
      text-align: left;
  }
  
  h2 {
    font-size: 28px;
  }

  nav.nav {
    align-items: center;        
  }

  .nav-logo-item {
    max-width: 30px;
    width: 100%;  
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin-right: 20px; ;
    background-color: rgba(255 255 0 / 0.5);    
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    padding: 20px 0;

    height: calc(100% - 80px); /*Barra de scroll del menú, el 100% para que ocupe toda la pantalla - 80 px, la altura del header*/
    overflow-y:auto;

    left: 100%;
    transition:left 0.5s ;
     /*Como el menú de navegación es un dispplay float con el left 100% hacemos 
    que se desplace u oculte hacia la derecha al pulsar el bars*/ 
  }  

  .nav-menu-item {
    line-height: 80px;   /*para reducir el espaciado entre los items*/
    
  } 
  
  .nav-menu-link {
    padding: 6px 10px;
    color: black;
  }

  .nav-menu-link:hover,   /*Aquí le quitamos el sombreado y activamos solo cambio de color de letra*/
  .nav-menu-link_active {
    background: none;
    color: red;
    transition: 0.5s;
  }

  button.nav-toggle {        /*Permite visualizar el menú bars verticalmente (block)*/
    display:block;
    font-size: 30px;
  }

  .nav-menu_visible {
    left: 0;

  }

  .nav-toggle:focus:not(:focus-visible){
    outline: none;
  }

  figure.presentacion-img img { /* foto de presentación*/
    border-radius: 50%;
    max-width: 300px;
  
  }

  section#inicio {
    flex-direction: column;
  }

  article.presentacion {
    width: 100%;
    text-align: center;
  }

  article.contacto{
    width: 100%;
    text-align: center;
    background: #17202A;
    color: #fbfbfb;
  
  }

  a.button {    /* boton descarga mi cv*/
    background-color: #232F9A;
    color: #fbfbfb;
  }

  a.button:hover {
    background-color: #030837;
    transition: background-color o.3s;
  }

  h1 {
    font-size: 36px;
      text-align: center;
  }
  
  h2 {
    font-size: 30px;
    text-align: center;
  } 
  
  footer{
    display: flex;
    flex-direction: column;  
    justify-content:center;
    align-items:center;
    width: 100%;
    height: 80px;  
    background: #030837;
    font-size: 16px;
    color: #fbfbfb;
  
  }

}
